/* 引入思源黑體 API */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

/* 將所有元素的字型設定成思源黑體，並讓文字以更平滑的方式來呈現 */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
}
