/* 引入思源黑體 API */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

/* 將所有元素的字型設定成思源黑體，並讓文字以更平滑的方式來呈現 */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #daa520;
}

body {
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
}

/* 以下是跟卷軸有關的設定 */
/* 頁面卷軸整體寬度 */
::-webkit-scrollbar {
  width: 5px;
}

/* 頁面卷軸整體寬度懸停設定 */
::-webkit-scrollbar:hover {
  width: 10px;
}

/* 頁面卷軸軌道設定 */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #121212;
}

/* 頁面卷軸軌道懸停設定 */
::-webkit-scrollbar-track:hover {
  background: #15486d;
}

/* 頁面卷軸位置指示器設定 */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #daa520;
}
